@import "tailwindcss";

html,
body {
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input {
  @apply p-2 border-2 text-blue-500 border-blue-500 rounded-xl focus:outline-none transition duration-200 hover:bg-blue-500 hover:border-white hover:text-white;
}
